@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--border: 240 5.9% 90%;
		--ring: 240 10% 3.9%;
	}

	.dark {
		--background: 222 47% 11%;
		--foreground: 210 40% 98%;
		--border: 217 33% 25%;
		--ring: 212 100% 48%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	::-webkit-scrollbar {
		@apply bg-background w-3;
	}

	::-webkit-scrollbar-thumb {
		@apply bg-slate-500/40 rounded-full;
	}

	::-webkit-scrollbar-thumb:hover {
		@apply bg-slate-400/60;
	}

	div:has(+ .experience-content:hover) > div {
		@apply opacity-100;
	}
}
